<html><body>
<p>HELLO5 {{ locale }} {{ format }}</p>
<p>HELLO6 {{ route }} {{ dump(route_params) }}</p>
<p>HELLO6 {{ app.current_route }} {{ dump(app.current_route_parameters) }}</p>
<p>HELLO6 {{ dump(attributes) }}</p>
</body></html>